[user]
    name = Kai Paterson-Hall
    email = {{ .email | quote }}
[init]
    defaultBranch = main
[core]
    editor = code --wait
    excludesfile = ~/.gitignore_global
    autocrlf = true
    longpaths = true
[pull]
    rebase = false
[fetch]
    prune = true
[color]
    ui = auto
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    commit = green
    meta = yellow
    frag = cyan
    old = red
    new = green
    whitespace = red reverse
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
    prompt = true
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[alias]
    s = status
    b = branch -v
    br = branch -rv
    d = diff
    lo = log --decorate --oneline
    fp = fetch -pv
    co = checkout
